<div class="dynamic-content">

    <h1>Producción</h1>

    <div class="content-main">

        <div class="content-form">
            <mat-form-field class="search">
                <mat-label>Buscar</mat-label>
                <input matInput placeholder="Ex. 12345678-9" [(ngModel)]="search" (keyup.enter)="searchProductionById($event)" (change)="updateSearch()">
            </mat-form-field>

            <button mat-raised-button class="new-btn" (click)="openEditDialog(true)">
                <mat-icon>add</mat-icon>
                Nueva producción
            </button>

        </div>
        <div class="content-table">

            <table mat-table [dataSource]="productions | filter:search:['user_first_name', 'id']" class="table">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef class="header-table"> ID</th>
                    <td mat-cell *matCellDef="let production" class="row-table" (click)="$event.stopPropagation()"> {{production.id}} </td>
                </ng-container>

                <ng-container matColumnDef="employeeName">
                    <th mat-header-cell *matHeaderCellDef class="header-table"> Empleado</th>
                    <td mat-cell *matCellDef="let production" class="row-table" (click)="$event.stopPropagation()"> {{production.user_first_name + ' '+ production.user_last_name}} </td>
                </ng-container>

                <ng-container matColumnDef="rol">
                    <th mat-header-cell *matHeaderCellDef class="header-table"> Rol </th>
                    <td mat-cell *matCellDef="let production" class="row-table" (click)="$event.stopPropagation()"> {{production.user_role}} </td>
                </ng-container>

                <ng-container matColumnDef="productName">
                    <th mat-header-cell *matHeaderCellDef class="header-table"> Producto </th>
                    <td mat-cell *matCellDef="let production" class="row-table" (click)="$event.stopPropagation()"> {{production.product_name}} </td>
                </ng-container>


                <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef class="header-table"> Cantidad </th>
                    <td mat-cell *matCellDef="let production" class="row-table" (click)="$event.stopPropagation()"> {{production.quantity}} </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef class="header-table"> Fecha </th>
                    <td mat-cell *matCellDef="let production" class="row-table" (click)="$event.stopPropagation()"> {{production.date | date}} </td>
                </ng-container>



                <!-- Columna "editar" -->
                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef class="header-table"> Editar </th>
                    <td mat-cell *matCellDef="let production" class="row-table" (click)="$event.stopPropagation()">
                        <button mat-icon-button (click)="openEditDialog(false,production)" class="edit-btn" [disabled]="_appService.userData?.id != production?.user_id && _appService.userData.role != 'Administrador'" [ngClass]="{ 'disabled-button': _appService.userData?.id != production?.user_id && _appService.userData.role !== 'Administrador'}">
                            <mat-icon class="edit-icon">edit</mat-icon>
                        </button>

                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <mat-card *ngIf="loader">
                <mat-progress-spinner mode="indeterminate">
                </mat-progress-spinner>
            </mat-card>
        </div>
        <div class="content-empty" *ngIf="productions.length < 1 && !loader">
            <div class="empty">
                <mat-icon class="icon">search_off</mat-icon>
                <span>No se encontraron resultados</span>
            </div>
        </div>
    </div>

</div>