@import '../../shared/colors.scss';
.content-page {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    .content-dinamic {
        display: grid;
        grid-template-rows: 60px 1fr;
        height: 100%;
        .content-dinamic-page {
            background-color: $color-light-bg;
            display: block;
            height: 100%;
            //overflow-y: auto;
        }
    }
}

// @media screen and (max-width: 400px) {
//     .content-page {
//         grid-template-columns: 1fr;
//         /* Cambia a una sola columna */
//         .content-dinamic {
//             grid-template-rows: 1fr 60px;
//             /* Mueve la barra lateral debajo del contenido */
//         }
//     }
// }