$dark-blue: #335294;
$white: #ffffff;
$ambar: #FFC107;
$background-color: #f3f5f9;
$color-default-btn:#13b9b8;
$color-btn-hover: #0c9395;
$color-dark-bg: #105c5f;
$color-bg: #53eae2;
$color-light-bg: #f0fdfb;