@import '../shared/colors.scss';
.dynamic-content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: calc(100% - 100px);
    h1 {
        margin: 0;
    }
    .content-main {
        max-height: calc(100% - 120px);
        background-color: $white;
        padding: 20px;
        border-radius: 3px;
        display: flex;
        gap: 20px;
        flex-direction: column;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease;
        .content-form {
            display: grid;
            grid-template-columns: 80% 1fr;
            align-items: center;
            .search {
                width: 90%;
            }
            .new-btn {
                background-color: $color-default-btn;
                color: $white;
                &:hover {
                    background-color: $color-btn-hover;
                }
            }
        }
        .content-table {
            overflow-y: auto;
            .table {
                width: 100%;
                .header-table {
                    position: sticky;
                    top: 0;
                    z-index: 1;
                    background-color: #f0f0f0;
                    font-weight: bold;
                    text-align: center;
                    padding: 10px;
                    font-size: 14px;
                }
                .row-table {
                    text-align: center;
                    padding: 10px;
                    z-index: 0;
                }
            }
            &::-webkit-scrollbar {
                width: 10px;
            }
            &::-webkit-scrollbar-track {
                background: #f1f1f1;
            }
            &::-webkit-scrollbar-thumb {
                background: $color-dark-bg;
            }
        }
    }
}

.fa-pen-to-square {
    cursor: pointer;
}

.edit-btn {
    .edit-icon {
        font-size: 18px;
        color: $color-btn-hover;
    }
}

//estilos para el form
.content-form {
    .form {
        mat-form-field {
            width: 260px;
        }
    }
}

.footer-btns {
    justify-content: end;
    padding: 0 20px 20px 20px;
    .save-btn {
        background-color: $color-btn-hover;
        color: $white;
        &:hover {
            background-color: $color-dark-bg;
        }
    }
}

//Background del form