.table-roles {
    width: 100%;
    border: 1px solid #e0e0e0;
    border-collapse: collapse;
    margin: 20px 0;
}

.header-table {
    background-color: #f0f0f0;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-size: 17px;
}

.row-table {
    text-align: center;
    padding: 10px;
}

.fa-pen-to-square {
    cursor: pointer;
}

.edit-btn {
    .edit-icon {
        font-size: 18px;
        color: #007bff;
    }
}