@import '../../shared/colors.scss';
.side-bar {
    //padding: 10px;
    display: grid;
    grid-template-rows: 60px 1fr;
    //background-color: aliceblue;
    height: 100%;
    border-right: 0.5px solid $border-color;
    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        //border-color: 1px solid rgb(219, 219, 219);
        background-color: $color-default-btn;
        border-bottom: 0.5px solid $border-color;
        h4 {
            margin: 0;
            align-self: center;
            color: $white;
            //height: 40px;
        }
    }
    .menu-items {
        background-color: $white;
        .active-link {
            background-color: $color-default-btn;
            color: $white;
        }
        .item {
            height: 40px;
            align-items: center;
            /* justify-content: space-evenly; */
            padding: 15px 15px 15px 30px;
            display: flex;
            gap: 10px;
            cursor: pointer;
            //color: #333;
            transition: background-color 0.3s, color 0.3s;
            &:hover {
                background-color: $hover-item;
                //color: $white;
            }
            // .icon {
            //     color: $color-default-btn !important;
            // }
        }
    }
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}