<div class="side-bar">

    <div class="title">
        <h4>ShoeFactory - System</h4>
    </div>

    <ul class="menu-items">

        <li *ngIf="_appService?.userData?.role == 'Administrador'" [routerLink]="['users']" class="item" routerLink="home/users" routerLinkActive="active-link"><i class="fa-solid fa-users icon"></i>Usuarios</li>
        <li *ngIf="_appService?.userData?.role == 'Administrador'" [routerLink]="['products']" class="item" routerLink="home/products" routerLinkActive="active-link"><i class="fa-solid fa-boxes-stacked icon"></i>Productos</li>
        <li [routerLink]="['productions']" class="item" routerLink="home/productions" routerLinkActive="active-link"><i class="fa-solid fa-dolly icon"></i>Producción</li>
        <li *ngIf="_appService?.userData?.role == 'Administrador'" [routerLink]="['roles']" class="item" routerLink="home/roles" routerLinkActive="active-link"><i class="fa-solid fa-user-gear icon"></i>Roles</li>
        <li [routerLink]="['search-production']" class="item" routerLink="home/roles" routerLinkActive="active-link"><i class="fa-solid fa-circle-info icon"></i>Consultar Producción</li>
    </ul>
</div>