<div class="side-bar">

    <div class="title">
        <h4>ShoeFactory - System</h4>
    </div>

    <ul class="menu-items">

        <li *ngIf="_appService?.userData?.role == 'Administrador'" [routerLink]="['users']" class="item"><i class="fa-solid fa-users"></i>Usuarios</li>
        <li [routerLink]="['products']" class="item"><i class="fa-solid fa-boxes-stacked"></i>Productos</li>
        <li [routerLink]="['productions']" class="item"><i class="fa-solid fa-dolly"></i>Producción</li>
        <li [routerLink]="['roles']" class="item"><i class="fa-solid fa-user-gear"></i>Roles</li>
        <li [routerLink]="['search-production']" class="item"><i class="fa-solid fa-circle-info"></i>Búsqueda</li>
    </ul>
</div>