<h2 mat-dialog-title>{{dialogTitle}}</h2>
<div mat-dialog-content class="content-form">
    <form [formGroup]="productForm" class="form">
        <mat-form-field *ngIf="product.id">
            <mat-label>ID</mat-label>
            <input matInput type="text" formControlName="id" placeholder="Id del producto">
            <mat-error *ngIf="productForm.get('id')?.hasError('required')">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nombre del producto</mat-label>
            <input matInput type="text" formControlName="name" placeholder="Nombre del producto">
            <mat-error *ngIf="productForm.get('name')?.hasError('required')">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>
        <mat-form-field floatLabel="always">
            <mat-label>Precio</mat-label>
            <input matInput type="number" formControlName="price" placeholder="0" min="0">
            <span matTextPrefix>$&nbsp;</span>
            <mat-error *ngIf="productForm.get('price')?.hasError('required')">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>
        <mat-form-field floatLabel="always">
            <mat-label>Compensación unitaria</mat-label>
            <input matInput type="number" formControlName="unitCompensation" placeholder="0" min="0">
            <mat-error *ngIf="productForm.get('unitCompensation')?.hasError('required')">{{ getErrorMessage() }}</mat-error>
            <span matTextPrefix>$&nbsp;</span>
        </mat-form-field>
        <mat-form-field floatLabel="always">
            <mat-label>Compensación por paquete</mat-label>
            <input matInput type="number" formControlName="packageCompensation" placeholder="0" min="0">
            <mat-error *ngIf="productForm.get('packageCompensation')?.hasError('required')">{{ getErrorMessage() }}</mat-error>
            <span matTextPrefix>$&nbsp;</span>
        </mat-form-field>

        <mat-form-field floatLabel="always">
            <mat-label>Rol</mat-label>
            <mat-select formControlName="kind">
                <mat-option value="Guarnecedor">Guarnecedor</mat-option>
                <mat-option value="Cortador">Cortador</mat-option>
                <mat-option value="Ensamblador">Ensamblador</mat-option>
            </mat-select>
        </mat-form-field>

    </form>
</div>
<div mat-dialog-actions class="footer-btns">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary" class="save-btn" (click)="onSaveClick()">{{ isCreating ? 'Crear' : 'Guardar' }}</button>
</div>