<div class="content-navbar">
    <div class="content-date">
        <span>{{currentDateTime}} </span>
    </div>

    <div class="content-end">
        <div class="content-user-rol">
            <i class="fa-solid fa-user user-icon"></i>
            <span *ngIf="_appService.userData">{{_appService.userData.first_name +' '+ _appService.userData.last_name}} </span>
            <!-- <span>Admin</span> -->
        </div>

        <div class="content-logout" (click)="logOut()">
            <i class="fa-solid fa-right-from-bracket logout-icon"></i>
        </div>


    </div>

</div>