<div class="content-navbar">
    <div class="content-date">
        <span>{{currentDateTime}} </span>
    </div>

    <div class="content-end">
        <div class="content-user-rol">
            <span *ngIf="_appService.userData">Usuario: {{_appService.userData.first_name +' '+ _appService.userData.last_name}} </span>
            <!-- <span>Admin</span> -->
        </div>

        <div class="logout-icon" (click)="logOut()">
            <i class="fa-solid fa-right-from-bracket"></i>
        </div>


    </div>

</div>