@import '../../shared/colors.scss';
.content-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: $color-dark-bg;
    height: 40px;
    .content-date {
        span {
            color: $white;
        }
    }
    .content-end {
        display: flex;
        gap: 20px;
        align-items: center;
        .content-user-rol {
            display: flex;
            align-items: center;
            color: $white;
            .user-icon {
                margin-right: 0.5rem;
                font-size: 20px;
            }
            span {
                font-size: 16px;
            }
        }
        .content-logout {
            cursor: pointer;
            color: $white;
            .logout-icon {
                font-size: 20px;
                &:hover {
                    color: $color-default-btn;
                    transform: scale(1.2);
                }
            }
        }
    }
}